[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
findspark = "*"
pyspark = "==2.4.5"
python-dateutil = "*"
kafka-python = "*"
cached-property = "*"

[dev-packages]
flake8-mypy = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[dev-packages.isort]
extras = [ "pipfile",]
